.App {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', serif;
    text-align: center;
}

.navbar-brand {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 40px;

}

.navbar ul {
  display: flex;
  list-style: none; 
  text-transform: uppercase;
}

.navbar ul a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 55px;
  font-weight: 600;
  color: white;
}

h2 {
  font-weight: 400;
  font-size: 25px;
  color: white;
}

h4 {
  font-weight: 400;
  font-size: 35px;
}

.cta a {
  color: white;
  text-decoration: none;
}

.cta a:hover {
  color: #457b9d;
}

.searchbutton {
  margin-left: 10px;
}

.error a {
  color:black;
  text-decoration: none;
}

.error a:hover {
  color: white;
}

.tagline {
  font-size: 17px;
}

.auth-link {
  cursor: pointer;
  color: black;
}

.forgot a {
  text-decoration: none;
  color: grey;
}

.footer-stock-links a {
  text-decoration: none;
  color: #457b9d;
}

.footer-stock-links a:hover {
  color: grey;
}

.footer-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #457b9d;
}

.footer-links a:hover {
  color: grey;
}

.active {
  font-weight: bold;
}
